/21it115 python week-13.docx
/demo.py
/practical7.py
/PYTHON INTERNAL PRACTICAL EXAM.docx
/PYTHON PRACTICAL EXAM.pdf
/python seminar.jpg
/Python web scraping certificate.pdf
/python week 2.pdf
/python week 3.pdf
/python week15.docx
/Python week6.docx
/Seminar Python.docx
/Untitled-1.py
/Week 10 python.docx
/week 14.docx
/Week-15 Python.docx
/week10.py
/week3.py
/week6.py
/week7_python.pdf